[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
torch = "*"
numpy = "*"
matplotlib = "*"
bokeh = "*"
pandas = "*"
holoviews = "*"
scikit-learn = "*"
allennlp = "*"
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"

[packages]

[requires]
python_version = "3.7"
